body {
    background-color: black;
    color: white;
}
#backButton {
    background-color: white;
    color:black
 }
 .lines {
    width: 100%; 
    border: solid 1px white;
    color: white;
 }
#circle {
    display: none;
}
#darkModeCircle {
    display: inline;
    float: left;
    width: 30%;
    margin-top: 5%;
    margin-left: 10%;
}